:root{
    --verdeAzulado: #209eb3;
    --verdeClaro: #D5DD68;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--verdeAzulado);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    margin-left: 5px;
    color: var(--verdeClaro);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}
header nav a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
header nav a:hover{
    color: #aaa;
}