:root{
    --verdeAzulado: #209eb3;
    --verdeClaro: #D5DD68;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: montserrat;
    src: url(/fonte/Montserrat-Medium.ttf);
}
body{
    background: white;
    font-family: montserrat;
    color: var(--verdeAzulado);
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    margin-left: 5px;
    color: var(--verdeAzulado);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
header nav a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
header nav a:hover{
    color: #aaa;
}
.column {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    float: left;
    width: 25%;
    padding: 0 10px;
  }

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
.card {
    color: black;
    margin-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: whitesmoke;
}
.card p{
    font-style: italic;
    margin-top: 10%;
}
